<div>

    <div>
    <h3>First Step: Search for a term.</h3>
    <ul style="list-style-type:circle">
            <li>To search a term that has not a context yet, just type the term.
                <p>
                    Example: jaguar
                </p>
            </li>
            <li>To search for a term that already has a context, type the term + underscore + context.
                <p>
                    Example: jaguar_car
                </p>
            </li>
        </ul>
    </div>

    <div>
    <h3>Second Step: Choose which contexts you'd like.</h3>
    <ul style="list-style-type:circle">
            <li>Check the context you'd like to apply to your term.</li>
            <li>After check it. Press the search icon to enrich your term.</li>
        </ul>
    </div>

    <div>
    <h3>Third Step: Enrich your search.</h3>
    <ul style="list-style-type:disc;">
      <li>Select the desired terms.</li>
      <li>Click on terms to be refined.</li>
      <li>Click on "indexed" tab to see the results.</li>
    </ul>
    </div>

    <div>
    <h3>Optional Step: See your tree.</h3>
    <ul style="list-style-type:disc;">
      <li>Click on "Tree" tab to see the result tree about your search.</li>
    </ul>
    </div>

</div>
